@{
    ViewData["Title"] = "Main page";
}

<div class="main_content_wrapper">
    <header class="header_container">
        <div class="header_FIO">Гуляев Данила Денисович</div>
        <div class="header_right">
            <div class="header_nickname">Yaotone</div>
            <img src="../wwwroot/exit.png" alt="exit" class="exitButton">
        </div>
    </header>
</div>